@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

/*
HTML & BODY
 */
html {
    display: flex;
    height: 99%;
    width: 99%;
    flex-direction: column;
    gap: 25px;
    font-family: 'Poppins', sans-serif;
    --primary-color: #00a3e8;
    --white: #ffffff;
    --light-gray: #dddddd;
    --light-blue: #3c64ff;

    background: url("../img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    height: 99%;
    width: 99%;
    flex-direction: column;
    gap: 18px;
}

/*
BASE DE LA PAGE
 */

header {
    border: 2px solid var(--primary-color);
    text-align: center;
    font-size: 14px;
    padding: 15px 0px;
    border-radius: 30px;
    font-weight: bold;
    background-color: var(--white);
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    font-size: 13px;
}

footer {
    border: 2px solid var(--primary-color);
    padding: 15px 0px;
    text-align: center;
    border-radius: 30px;
    background-color: var(--white);
}

/*
SERIE
 */
.serie__item a {
    border: 2px solid var(--primary-color);
    margin: 10px 50px;
    display: flex;
    padding: 8px 100px;
    text-decoration: none;
    color: black;
    justify-content: space-between;
    border-radius: 30px;
    transition: ease-in-out 0.3s;
    background-color: var(--white);
}

.serie__item a:hover {
    padding: 20px 100px;
}

.serie__img {
    margin: auto;
    margin: auto 40px;
}

.serie__img img {
    height: 150px;
}

.serie__content {
    height: 110px;
    overflow: hidden;
}

/*
SERIE - ALIGNEMENT A GAUCHE/DROITE
 */
.left {
    flex-direction: row;
}

.right {
    flex-direction: row-reverse;
}

/*
SAISON
 */
.saison__item a {
    border: 2px solid var(--primary-color);
    margin: 10px 50px;
    display: flex;
    padding: 8px 100px;
    text-decoration: none;
    color: black;
    justify-content: center;
    border-radius: 30px;
    transition: ease-in-out 0.3s;
    background-color: var(--white);
}

.saison__item a:hover {
    padding: 20px 100px;
}

.serie__header {
    border: 2px solid var(--white);
    margin: 10px 20px;
    display: flex;
    padding: 20px 100px;
    text-decoration: none;
    color: var(--white);
    border-radius: 30px;
    transition: ease-in-out 0.3s;
    background-color: var(--light-blue);
}

.serie__header__content__title {
    text-align: right;
}

.serie__header__content__originalname {
    text-align: right;
}

.serie__header_poster {
    margin: auto 40px;
}