@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

/*
HTML & BODY
 */
html {
    display: flex;
    height: 99%;
    width: 99%;
    flex-direction: column;
    gap: 25px;
    font-family: 'Poppins', sans-serif;
    --light-red: #ff3c3c;
    --red: #e80000;
    --white: #ffffff;
    --black: #000000;
    --black-transparent: rgba(0, 0, 0, 0.95);
    --red-transparent: rgba(232, 0, 0, 0.90);

    background: url("../img/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

body {
    display: flex;
    height: 99%;
    width: 99%;
    flex-direction: column;
    gap: 18px;
}

/*
BASE DE LA PAGE
 */

header {
    border: 2px solid var(--light-red);
    text-align: center;
    font-size: 14px;
    padding: 15px 0px;
    border-radius: 30px;
    font-weight: bold;
    background-color: var(--black);
    color: var(--white);
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    font-size: 13px;
}

footer {
    border: 2px solid var(--light-red);
    padding: 15px 0px;
    text-align: center;
    border-radius: 30px;
    background-color: var(--black);
    color: var(--white);
}

/*
SERIE
 */

.serie__item a {
    border: 2px solid var(--light-red);
    margin: 10px 150px;
    display: flex;
    padding: 8px 40px;
    text-decoration: none;
    color: var(--white);
    justify-content: space-between;
    border-radius: 30px;
    transition: transform .2s;
    align-items: center;
    background-color: var(--black-transparent);
}

.serie__item a:hover {
    transform: scale(1.02);
}

.serie__content {
    font-size: 13px;
}

serie__img {
    height: 100px;
    align-items: center;

}

.serie__img img {
    height: 200px;
    margin: 0px 20px;
}

/*
SERIE - ALIGNEMENT A GAUCHE/DROITE
*/
.left {
    flex-direction: row;
}

.right {
    flex-direction: row-reverse;
}

/*
SAISON
 */

.saison__item a {
    border: 2px solid var(--light-red);
    margin: 10px 500px;
    display: flex;
    padding: 8px 100px;
    flex-direction: row;
    text-decoration: none;
    color: var(--white);
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--black-transparent);
    transition: transform .2s;
}

.saison__item a:hover {
    transform: scale(1.02);
}

/*
SERIE
 */

.serie__header {
    margin: 10px 100px;
    display: flex;
    padding: 20px 100px;
    text-decoration: none;
    color: var(--white);
    border-radius: 30px;
    transition: ease-in-out 0.3s;
    background-color: var(--red-transparent);
    font-size: 13px;
}

.serie__header__content__title {
    text-align: right;
}

.serie__header__content__originalname {
    text-align: right;
}

.serie__header_poster {
    margin: auto 40px;
}

.serie__header_poster img {
    height: 200px;
}

/*
EPISODE
 */

.episode__header {
    margin: 10px 430px;
    display: flex;
    padding: 30px;
    text-decoration: none;
    color: var(--white);
    border-radius: 30px;
    transition: ease-in-out 0.3s;
    background-color: var(--red-transparent);
    justify-content: space-evenly;
    align-items: center;
}

.episode__header__content__serie {
    text-align: right;
}

.episode__header__content a {
    color: var(--white);
    text-decoration: none;
}

.episode__header__content__saison {
    text-align: right;
}

.episode__item {
    border: 2px solid var(--light-red);
    margin: 10px 250px;
    padding: 8px 100px;
    text-decoration: none;
    color: var(--white);
    border-radius: 30px;
    transition: transform .2s;
    background-color: var(--black-transparent);
}

.episode__item:hover {
    transform: scale(1.02);
}

.episode__header__img img {
    height: 200px;
}

/*
BUTTON
 */

.button {
    background-color: var(--red);
    border: none;
    color: white;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
    border-radius: 50px;
}

.button:hover {
    background-color: var(--light-red);
    cursor: pointer;
}

.menu {
    border: 2px solid var(--light-red);
    text-align: center;
    font-size: 14px;
    padding: 15px 0px;
    border-radius: 30px;
    font-weight: bold;
    background-color: var(--black-transparent);
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center
}

/*
SCROLL BAR
 */

::-webkit-scrollbar {
    width: 20px;
    border-radius: 30px;
    background-color: var(--black-transparent);
}

::-webkit-scrollbar-track {
    width: 20px;
    border-radius: 30px;
    background-color: var(--black-transparent);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--red);
    width: 20px;
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--light-red);
    width: 20px;
    border-radius: 30px;
}


/*
RESPONSIVE
 */

@media screen and (max-width: 2000px) {
    .saison__item a {
        margin: 10px 150px;
        flex-direction: row;
    }

    .episode__item {
        margin: 10px 200px;
    }
}

@media screen and (max-width: 1500px) {
    .serie__item a {
        margin: 10px 100px;
    }

    .episode__item {
        margin: 10px 150px;
    }
}

@media screen and (max-width: 1300px) {
    .serie__header {
        align-items: center;
        margin: 0px 15px;
    }

    .episode__header {
        margin: 10px 300px;
    }

    .episode__item {
        padding: 8px 100px;
    }
}

@media screen and (max-width: 1100px) {
    .episode__header {
        margin: 10px 200px;
    }

    .episode__item {
        margin: 10px 100px;
    }
}

@media screen and (max-width: 1000px) {
    .saison__item a {
        margin: 10px 150px;
        flex-direction: column;
    }

    .serie__header {
        flex-direction: column;
        font-size: 11px;
    }

    .serie__header__content__title {
        text-align: center;
    }

    .serie__header__content__originalname {
        text-align: center;
    }

    .episode__header {
        margin: 10px 100px;
    }

    .episode__item {
        padding: 8px 80px;
    }
}

@media screen and (max-width: 800px) {
    .serie__item a {
        margin: 10px 50px;
        flex-direction: row;
    }

    .serie__content {
        font-size: 11px;
        text-align: center;
    }

    .serie__img img {
        height: 150px;
    }

    .saison__item a {
        margin: 10px 110px;
        flex-direction: column;
    }

    .serie__header {
        padding: 20px 20px;
        text-align: center;
    }

    .serie__header_poster img {
        height: 130px;
    }

    .episode__header {
        margin: 10px 50px;
    }

    .episode__header__img img {
        height: 160px;
    }

    .episode__item {
        padding: 8px 50px;
    }
}

@media screen and (max-width: 700px) {
    .serie__item a {
        flex-direction: column;
    }

    .episode__header {
        margin: 10px 25px;
        flex-direction: column;
        justify-content: center;
    }

    .episode__item {
        margin: 10px 50px;
    }
}

@media screen and (max-width: 400px) {
    .serie__item a {
        margin: 10px 3px;
    }

    .saison__item a {
        margin: 10px 20px;
        flex-direction: column;
    }

    .episode__header {
        margin: 10px 10px;
        flex-direction: column;
        align-items: center;
    }

    .episode__header__content__saison {
        text-align: center;
    }

    .episode__item {
        padding: 8px 30px;
    }
}

/* Formulaire */

.formulaire{
    border: 2px solid var(--light-red);
    text-align: center;
    font-size: 14px;
    padding: 15px 0px;
    border-radius: 30px;
    font-weight: bold;
    background-color: var(--black-transparent);
    color: var(--white);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 400px;
}

.formulaire label {
    margin: 10px;
    border: 2px solid var(--light-red);
    padding: 15px 0px;
    border-radius: 30px;
    text-align: left;
}

.formulaire label p {
    margin-left: 20px;
}

.formulaire label input {
    margin-left: 20px;
    border: 2px solid red;
    border-radius: 4px;
}

.formulaire button {
    width: 250px;
    margin: 10px 10px;
}

.buttons__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.liste {
    border: 2px solid red;
    border-radius: 4px;
    background-color: var(--black-transparent);
    color: var(--white);
    padding: 8px 0px;
    margin-bottom: 10px;
}

.liste__der {
    display: flex;
    flex-direction: column;
}
